:root{
	/* 背景色 */
	--bgColor: #b81941;
	
	/* 容器颜色 */
	--boxColor: #a00b30;
	
	/* 标题装饰 */
	--tit-bgColor: #ffffff;
	
	/* 字体色 */
	--colorFFF: #fff;
	--colorTIT: #ffffff;
	--colorD6: #D6D6D6;
	--color383838: #383838;
	
}