:root{
	/* 背景色 */
	--bgColor: #F0F0F0;
	
	/* 容器颜色 */
	--boxColor: #D43030;
	
	/* 标题装饰 */
	--tit-bgColor: #D43030;
	
	/* 字体色 */
	--colorFFF: #fff;
	--colorTIT: rgba(242, 68, 68, 1);
	--colorD6: #D6D6D6;
	--color383838: #383838;
	
}