:root{
	/* 背景色 */
	--bgColor: #F0F0F0;
	
	/* 容器颜色 */
	--boxColor: #001fc2;
	
	/* 标题装饰 */
	--tit-bgColor: #01228b;
	
	/* 字体色 */
	--colorFFF: #fff;
	--colorTIT: #01228b;
	--colorD6: #D6D6D6;
	--color383838: #383838;
	
}